@{ Layout = "_Layout"; }
<div id="principalPeliculas">

    <div id="pelis">
        @foreach (var categ in Model.Categoria)
        {
        <h1>Animaciones</h1>
        @foreach (var corto in categ.Cortometraje)
        {
        <div>
            <a class="imgPelicula" href="~/cortos/@corto.Nombre.Replace(" ","-")">
                <img src="~/images/portadas/@(corto.Id)_pc.jpg" alt="@corto.Nombre">
            </a>
            <div class="nombrePelicula">
                <p>@corto.Nombre</p>
            </div>
            
        </div>
            }
        }
    </div>
</div>